@import '../../styles/utils/vars';

.root {
  .form {
    margin: 36px 0 24px;
  }

  .wrapper-card {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, 1fr);
  }


  .wrapper-button {
    display: flex;
    margin-top: 36px;
    justify-content: center;
  }
}

@media (max-width: map-get($media, xl)) {
  .root {
    .form {
      margin-bottom: 60px;
    }

    .wrapper-card {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {
    .wrapper-card {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: map-get($media, md)) {
  .root {
    .wrapper-card {
      grid-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }

    .wrapper-button {
      margin-top: 24px;
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    .form {
      margin-bottom: 40px;
    }

    .wrapper-card {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .wrapper-card {
      grid-template-columns: 1fr;
    }
  }
}