@import '../../styles/utils/vars';

.root {
  .form {
    margin: 36px 0 24px;
  }

  .wrapper-card {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(5, 1fr);
  }

  .my-collections {
    .wrap-btn {
      display: flex;
      margin: 12px 0 60px;
      justify-content: flex-end;

      &__btn {
        display: flex;
        align-items: center;

        .icon {
          font-size: 18px;
          margin-right: 10px;
        }
      }
    }
  }

  .wrapper-button {
    display: flex;
    margin-top: 36px;
    justify-content: center;
  }
}

@media (max-width: map-get($media, xl)) {
  .root {
    .form {
      margin-bottom: 60px;
    }

    .wrapper-card {
      grid-template-columns: repeat(4, 1fr);

      &:first-child {
        & > .item:nth-child(n+5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {
    .wrapper-card {
      grid-template-columns: repeat(3, 1fr);

      &_top > .item:nth-child(n+4) {
        display: none;
      }
    }
  }
}

@media (max-width: map-get($media, md)) {
  .root {
    .form {
      margin-bottom: 40px;
    }

    .wrapper-card {
      grid-gap: 16px;
    }

    .wrapper-button {
      margin-top: 24px;
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    .wrapper-card {
      grid-template-columns: repeat(2, 1fr);

      &:first-child {
        & > .item:nth-child(n+3) {
          display: none;
        }
      }
    }

    .my-collections {
      .wrap-btn {
        margin: 16px 0 40px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .title {
      white-space: nowrap;
      letter-spacing: -0.03em;
    }
    .wrapper-card {
      grid-template-columns: repeat(1, 1fr);

      &:first-child {
        & > .item:nth-child(n+2) {
          display: none;
        }
      }
    }
  }
}