.root {
  font-weight: 700;

  &.type_default {
    border: 2px solid #F7F7F7;

    &:hover {
      color: var(--primary-color);
      border-color: #F7F7F7;
      background: #F7F7F7;
    }

    &:active {
      color: var(--primary-color);
      border: 2px solid #D6D6D6;
      background: #D6D6D6;
    }
  }

  &.size_small {
    //font-size: 12px;
    //padding: 0 12px;
  }
}