.root {
  border-radius: 0;
  transition: all .3s ease-in-out;

  &.type_primary {
    background: var(--primary-color);
    color: #FFFFFF;
    border: none;

    &:hover {
      background: #353535;
      color: #FFFFFF;
    }

    &:active {
      background: #000000;
      color: #FFFFFF;
    }
  }

  &.type_stroked {
    background: #FFFFFF;
    border: 2px solid #F7F7F7;
    color: var(--primary-color);

    &:hover {
      color: var(--primary-color);
      background: #F7F7F7;
    }

    &:active {
      color: var(--primary-color);
      border: 2px solid #D6D6D6;
      background: #D6D6D6;
    }
  }

  &.size_large {
    line-height: 24px;
    font-weight: 700;
    font-size: 18px;
    padding: 0 24px;
    height: 56px;
  }

  &.size_medium {
    line-height: 24px;
    font-weight: 700;
    font-size: 16px;
    padding: 0 16px;
    height: 40px;
  }

  &.size_small {
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    padding: 0 12px;
    height: 32px;
  }
}