.root {
  cursor: pointer;
  position: relative;
  transition: border .2s ease-in-out;
  border: 2px solid var(--light-gray-color);

  .icon {
    top: 10px;
    z-index: 1;
    right: 10px;
    display: none;
    position: absolute;
    border-radius: 50%;

    &:after {
      top: 50%;
      left: 50%;
      width: 10px;
      content: '';
      z-index: -1;
      height: 10px;
      display: block;
      position: absolute;
      border-radius: 50%;
      background: #FFFFFF;
      transform: translate(-50%, -50%);
    }
  }

  &.checked {
    .icon {
      display: block;
    }
    border-color: var(--primary-color);
  }

  &:hover {
    border-color: var(--primary-color);
  }
}