.root {
  display: flex;
  padding-right: 12px;
  background: #FFFFFF;
  align-items: center;
  border: 2px solid #F7F7F7;
  justify-content: space-between;

  &:hover {
    .user img {
      transform: scale(1);
    }

    .follow {
      background: var(--primary-color);

      .label {
        color: #FFFFFF;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 12px;
      transform: scale(0.84);
      transition: transform .3s ease-in-out;
    }

    .name {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .follow {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 5px 5px 5px 6px;
    border: 1px solid #F7F7F7;
    transition: background .3s ease-in-out;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.05);

    .label {
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      transition: color .3s ease;
    }

    .count {
      font-size: 10px;
      padding: 1px 2px;
      font-weight: 800;
      margin-left: 6px;
      line-height: 10px;
      background: #F7F7F7;
      color: var(--primary-color);
    }
  }
}