@import '../../styles/_vars.scss';

.root {
  .wrapper {
    display: grid;
    justify-items: center;

    .header {
      display: grid;
      justify-items: center;

      h1 {
        text-align: center;
      }

      .tabs {
        margin-top: 24px;
        width: fit-content;
      }
    }

    .form {
      width: 100%;
      margin-top: 40px;

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &.hide {
          top: -9999px;
          position: absolute;
          visibility: hidden;
        }

        .radio-wrap {
          width: 100%;
          display: grid;
          margin: 24px 0;
          grid-gap: 30px;

          &__item {
            display: flex;
            padding: 24px 0;
            align-items: center;
            flex-direction: column;

            span {
              font-size: 16px;
              font-weight: 700;
              line-height: 16px;
              text-align: center;
            }
          }

          &.radio-wrap_blockchain {
            grid-template-columns: 1fr 1fr 1fr;

            .radio-wrap__item {
              &_active {
                span {
                  color: var(--primary-color);
                }
              }

              span {
                margin-top: 12px;
              }
            }
          }

          &.radio-wrap_type {
            grid-template-columns: 1fr 1fr;

            .radio-wrap__item {
              &_active {
                i {
                  color: var(--primary-color);
                }
              }

              .radio-wrap__wrap-icon {
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              span {
                margin-top: 24px;
              }

              p {
                font-size: 16px;
                margin-top: 8px;
                max-width: 340px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
              }
            }
          }
        }

        .form-description {
          width: 100%;
          padding: 24px;
          margin: 24px 0;
          border: 2px solid var(--light-gray-color);

          .upload-image {
            height: 164px;
          }

          .upload-input-grid {
            display: grid;
            grid-gap: 24px;
            margin-top: 30px;
            grid-template-columns: 200px 1fr;

            .upload-image {
              height: 200px;
            }

            .inputs {
              gap: 24px;
              display: flex;
              flex-direction: column;

              &__flex {
                display: grid;
                grid-gap: 24px;
                grid-template-columns: 2fr 1fr;
              }

              &__item {
                label {
                  display: block;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 14px;
                  margin-bottom: 8px;
                }

                .prefix-wrap {
                  position: relative;

                  &__prefix {
                    top: 12px;
                    left: 12px;
                    z-index: 1;
                    position: absolute;
                  }

                  textarea {
                    padding-left: 47px;
                  }
                }
              }
            }
          }

          &__functional {
            display: flex;
            margin-top: 64px;
            text-align: center;
            align-items: center;
            flex-direction: column;

            .functional-wrap {
              gap: 24px;
              width: 100%;
              display: flex;
              margin-top: 24px;
              justify-content: space-between;

              & > label {
                width: 100%;
              }

              &__item {
                width: 100%;
                padding: 35px 0;

                &_active {
                  p, i {
                    color: var(--primary-color);
                  }
                }

                p {
                  font-size: 18px;
                  margin-top: 14px;
                  font-weight: 700;
                  line-height: 18px;
                }
              }
            }
          }
        }

        .preview {
          width: 100%;
          height: 747px;
          padding: 24px;
          margin: 24px 0;
          overflow: hidden;
          user-select: none;
          pointer-events: none;
          border: 2px solid #F7F7F7;

          .header {
            .banner {
              width: 100%;
              height: 156px;
              position: relative;

              .image {
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
              }

              .logo {
                left: 50%;
                width: 90px;
                height: 90px;
                padding: 5px;
                bottom: -40px;
                position: absolute;
                transform: translateX(-50%);
                backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.4) url("../../../public/noise.png");
              }

              .control {
                height: 100%;
                padding: 8px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                & > div {
                  gap: 4px;
                  display: flex;
                }

                .btn {
                  height: 20px;
                  padding: 0 5px;
                  font-size: 8px;
                  color: var(--black-color);
                }
              }
            }
          }

          .description {
            display: flex;
            margin-top: 56px;
            text-align: center;
            align-items: center;
            flex-direction: column;

            .title {
              font-size: 24px;
              font-weight: 800;
              line-height: 24px;
            }

            .subtitle {
              font-size: 16px;
              margin-top: 6px;
              font-weight: 700;
              line-height: 16px;
            }

            .info {
              gap: 12px;
              width: 100%;
              display: flex;
              margin-top: 6px;
              max-width: 285px;
              text-align: right;
              margin-bottom: 14px;
              justify-content: flex-end;

              & > div {
                display: flex;
              }

              span, a {
                display: block;
                font-size: 8px;
                line-height: 8px;
              }

              span {
                font-weight: 500;
                margin-right: 4px;
                color: rgba(38, 35, 63, 0.4);
              }

              a {
                font-weight: 700;
                color: var(--primary-color);
                text-decoration-line: underline;
              }
            }

            .props {
              gap: 12px;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              &__item {
                padding: 8px;
                position: relative;
                backdrop-filter: blur(10px);
                box-shadow: 0 0 20px rgba(43, 43, 43, 0.05);

                &:before {
                  top: 0;
                  left: 0;
                  width: 100%;
                  content: '';
                  height: 100%;
                  position: absolute;
                  box-sizing: border-box;
                  border: 2px solid rgba(133, 114, 255, 0.1);
                }

                span {
                  display: block;
                  font-size: 8px;
                  font-weight: 700;
                  line-height: 8px;
                  text-transform: uppercase;
                  color: rgba(255, 255, 255, 0.5);
                }

                p {
                  color: #FFFFFF;
                  font-size: 12px;
                  margin-top: 4px;
                  font-weight: 700;
                  line-height: 12px;
                }

                &_floor {
                  background: linear-gradient(102.79deg, rgba(255, 65, 202, 0.8) -8.44%, rgba(255, 69, 91, 0.8) 108.08%);
                }

                &_volume {
                  background: linear-gradient(99.98deg, #27FF8B -9.52%, #05AC52 109.52%);
                }

                &_items {
                  background: linear-gradient(118.5deg, #27D8FF -7.87%, #2260FF 109.26%);
                }

                &_users {
                  background: linear-gradient(110.17deg, #F0FF44 -7.65%, #FD2E2E 109.77%, #2C8DFF 109.78%);
                }

                &_owners {
                  background: linear-gradient(110.17deg, #FF44D6 -7.65%, #2C8DFF 109.78%);
                }
              }
            }

            .text {
              max-width: 652px;
              font-size: 12px;
              margin-top: 16px;
              font-weight: 400;
              line-height: 18px;
            }

            .text-btn {
              font-size: 10px;
              margin-top: 16px;
              font-weight: 700;
              line-height: 10px;
            }

            .btn {
              height: 26px;
              font-size: 10px;
              margin-top: 4px;
              padding: 8px 12px;
              line-height: 9px;
            }
          }

          .content {
            width: 100%;
            display: flex;
            margin-top: 32px;
            align-items: center;
            flex-direction: column;

            .tabs-skeleton {
              gap: 20px;
              display: flex;
              padding: 9px 10px;
              width: fit-content;
              border: 2px solid var(--light-gray-color);

              &__tab {
                width: 36px;
                height: 10px;
                background: var(--light-gray-color);
              }
            }

            .cards-wrap {
              display: grid;
              grid-gap: 16px;
              margin-top: 24px;
              grid-template-columns: repeat(4, 1fr);

              &__item {
                padding: 10px;
                background: #FFFFFF;
                border: 2px solide var(--light-gray-color);
                box-shadow: 0 0 20px rgba(43, 43, 43, 0.05);

                .img {
                  width: 180px;
                  height: 180px;
                  background: var(--light-gray-color);
                }

                .skeleton {
                  width: 105px;
                  height: 12px;
                  margin: 12px 0 0 10px;
                  background: var(--light-gray-color);
                }
              }
            }
          }
        }

        .wrap-submit {
          & > p {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            margin-bottom: 12px;
          }

          &__button {
            display: flex;
            padding: 4px;
            border: 4px solid var(--light-gray-color);

            p {
              font-size: 16px;
              font-weight: 700;
              line-height: 16px;
              padding: 12px 14px 12px 12px;

              span {
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, xl)) {
  .root {
    .wrapper {
      .form {
        .radio-wrap {
          &.radio-wrap_type {
            grid-gap: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {
    .wrapper {
      .form {
        .radio-wrap {
          grid-gap: 24px;
        }

        .form-description {
          padding: 12px;

          &__functional {
            margin-top: 48px;
          }
        }

        .preview {
          padding: 12px;
        }
      }
    }
  }
}

@media (max-width: map-get($media, md)) {
  .root {
    .wrapper {
      .header {
        .tabs {
          margin-top: 12px;
        }
      }

      .form {
        .radio-wrap {
          &.radio-wrap_blockchain {
            grid-row-gap: 16px;
            grid-column-gap: 12px;
            grid-template-columns: 1fr 1fr;
          }
        }

        .form-description {
          .upload-input-grid {
            margin-top: 36px;
          }

          &__functional {
            .functional-wrap {
              &__item {
                padding: 25px 0;
              }
            }
          }
        }

        .preview {
          .content {
            .cards-wrap {
              grid-template-columns: repeat(3, 1fr);
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    .wrapper {
      .form {
        .radio-wrap {
          &.radio-wrap_type {
            grid-gap: 24px;
            grid-template-columns: 1fr;

            .radio-wrap__item {
              padding: 20px 12px 12px;

              p {
                max-width: 100%;
              }

              i {
                font-size: 64px !important;
              }

              .radio-wrap__wrap-icon {
                i:nth-child(1), i:nth-child(5) {
                  font-size: 25px !important;
                }
                i:nth-child(2), i:nth-child(4) {
                  font-size: 36px !important;
                }
              }
            }
          }
        }

        .form-description {
          .upload-input-grid {
            margin-top: 24px;
            grid-template-columns: 1fr;

            .upload-image {
              width: 150px;
              height: 150px;
              margin: 0 auto;
            }

            .inputs {
              &__flex {
                grid-template-columns: 1fr;
              }
            }
          }

          &__functional {
            .functional-wrap {
              gap: 22px;
              flex-wrap: wrap;
              max-width: 432px;
              justify-content: center;

              & > label {
                width: 128px;

                &:nth-child(4), &:nth-child(5) {
                  width: 200px;
                }
              }
            }
          }
        }

        .preview {
          .header {
            .banner {
              .control {
                align-items: flex-start;
              }
            }
          }

          .content {
            .tabs-skeleton {
              width: 100%;

              &__tab {
                width: 100%;
              }
            }

            .cards-wrap {
              margin-top: 16px;
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .wrapper {
      .header {
        .tabs {
          width: 100%;
        }
      }

      .form {
        .form-description {
          .upload-image {
            height: 140px;
          }

          &__functional {
            .functional-wrap {
              gap: 24px;

              & > label {
                width: 100% !important;
              }
            }
          }
        }

        .preview {
          height: 830px;

          .header {
            .banner {
              height: 140px;

              .logo {
                bottom: -45px;
              }
            }
          }

          .description {
            .props {
              width: 225px;
              flex-wrap: wrap;
            }
          }

          .content {
            .tabs-skeleton {
              gap: 10px;
              border-width: 1px;
            }

            .cards-wrap {
              grid-template-columns: 1fr;
            }
          }
        }

        .wrap-submit {
          &__button {
            align-items: center;
            flex-direction: column;

            p {
              padding: 8px 0;
            }

            button {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}