@import './_vars.scss';

.select-dropdown-antd {
  padding: 0;
  border: 2px solid #F7F7F7;

  &.select-antd-with-prefix {
    .ant-select-item-option {
      .ant-select-item-option-content {
        .option-icon {
          display: block;
        }
      }
    }
  }

  .ant-select-item-option {
    padding: 12px;

    &.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background: #FFFFFF;
      color: var(--primary-color);

      .option-icon {
        color: var(--primary-color);
      }

      .option_check-icon {
        &, &.suffix-icon {
          display: block;
          color: var(--primary-color);
        }
      }
    }

    &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background: #F7F7F7;
    }

    .ant-select-item-option-content {
      display: flex;
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
      }

      .option-icon {
        display: none;
        margin-right: 16px;
        transition: all .3s ease;
      }

      .option_check-icon {
        display: none;

        &.suffix-icon {
          color: #D6D5D8;
          display: block;
        }
      }
    }
  }
}
