@import './_vars.scss';

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: var(--primary-color);
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  border-color: var(--primary-color);
  background: var(--primary-color);
}
.ant-radio-group-solid .ant-radio-button-wrapper:hover {
  color: var(--primary-color);
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: var(--primary-color);
  color: #FCFCFC;
}

.switch-antd-checked {
  background: var(--primary-color) !important;
}
.switch-antd-handle {
  width: 10px !important;
  height: 10px !important;
}
.switch-antd-handle:before {
  background: var(--primary-color) !important;
}
.switch-antd.switch-antd-checked .switch-antd-handle {
  inset-inline-start: calc(100% - 12px) !important;
}
.switch-antd:hover:not(.switch-antd-disabled, .switch-antd-checked),
.switch-antd-checked .switch-antd-handle:before {
  background: #FFFFFF !important;
}

.select-antd {
  width: max-content !important;

  &.select-antd-with-prefix {
    .ant-select-selector {
      .ant-select-selection-item {
        padding-inline-end: 0;

        .option-icon {
          display: block;
        }
      }
    }
  }

  &.ant-select-open {
    .ant-select-selector {
      background: var(--primary-color);
      border-color: var(--primary-color) !important;

      &:hover {
        background: var(--primary-color);
        border-color: var(--primary-color);
      }

      .ant-select-selection-item {
        color: #FFFFFF;

        .option-icon {
          color: #FFFFFF;
        }
      }
    }

    .ant-select-arrow {
      transform: rotate(180deg);

      i {
        color: #FFFFFF;
      }
    }
  }

  .ant-select-selector {
    display: flex;
    align-items: center;
    height: 40px !important;
    padding: 0 12px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    transition: all .3s ease !important;
    border: 2px solid #F7F7F7 !important;

    @media (max-width: map-get($media, xs)) {
      padding: 0 6px !important;
    }

    &:hover {
      background: #F7F7F7;
    }

    .ant-select-selection-item {
      display: flex;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      align-items: center;
      padding-inline-end: 0;
      color: var(--primary-color);
      font-family: 'Inter', sans-serif;

      span {
        gap: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: map-get($media, xs)) {
          gap: 11px;
        }

        span {
          width: 86px;
          justify-content: center;
        }

        .space {
          width: 16px;
        }
      }

      .option-icon {
        display: none;
        font-size: 16px;
        color: var(--primary-color);
      }

      .option_check-icon {
        display: none;
      }
    }
  }

  .ant-select-arrow {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    inset-inline-end: 12px;
    transition: all .3s ease !important;

    @media (max-width: map-get($media, xs)) {
      inset-inline-end: 8px;
    }

    i {
      font-size: 16px;
    }
  }
}

.select-dropdown-antd {
  padding: 0;
  border-radius: 0;
  border: 2px solid #F7F7F7;

  &.select-antd-with-prefix {
    .ant-select-item-option {
      .ant-select-item-option-content {
        .option-icon {
          display: block;
        }
      }
    }
  }

  .ant-select-item-option {
    padding: 12px;
    border-radius: 0;

    &.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background: #FFFFFF;
      color: var(--primary-color);

      .option-icon {
        color: var(--primary-color);
      }

      .option_check-icon {
        &, &.suffix-icon {
          display: block;
          color: var(--primary-color);
        }
      }
    }

    &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background: #F7F7F7;
    }

    .ant-select-item-option-content {
      display: flex;
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
      }

      .option-icon {
        display: none;
        font-size: 16px;
        margin-right: 16px;
        transition: all .3s ease;
      }

      .option_check-icon {
        &.suffix-icon {
          color: #D6D5D8;
          display: block;
        }

        font-size: 16px;
        display: none;
      }
    }
  }
}

.antd-checkbox {
  margin-inline-start: 0 !important;

  span {
    transition: color .3s ease;
  }

  &.ant-checkbox-wrapper-checked {
    span {
      color: var(--primary-color);
    }
  }

  &:hover {
    span {
      color: var(--primary-color);
    }

    .ant-checkbox-inner {
      border-color: var(--primary-color) !important;
    }
  }

  .ant-checkbox {
    top: -1px;

    &:after {
      display: none;
    }

    &.ant-checkbox-checked .ant-checkbox-inner {
      background-color: transparent !important;

      &:after {
        opacity: 1 !important;
      }
    }

    .ant-checkbox-inner {
      padding: 2px;
      border-radius: 0;
      border: 1px solid #F7F7F7;

      &:after {
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 12px;
        height: 12px;
        border: none;
        transition: opacity .2s ease;
        transform: translate(-50%,-50%);
        background: var(--primary-color);
      }
    }
  }
}

.antd-slider {
  margin: 0 0 0 6px;
  padding-block: 5px;

  .ant-slider-rail {
    height: 2px;
    border-radius: 0;
    background: #F7F7F7;

    &:after, &:before {
      width: 8px;
      height: 8px;
      content: '';
      position: absolute;
      background: #F7F7F7;
      transform: translateY(-3px);
    }

    &:after {
      left: -4px;
    }

    &:before {
      right: -4px;
    }
  }

  .ant-slider-track {
    height: 2px;
    border-radius: 0;
    background: var(--primary-color) !important;
  }

  .ant-slider-handle {
    width: 12px;
    height: 12px;
    inset-block-start: 0;
    background: var(--primary-color);

    &:after, &:before {
      display: none;
    }
  }
}