@import '../../styles/_vars.scss';

.root {
  gap: 4px;
  display: flex;
  flex-wrap: wrap;

  .item {
    height: 36px;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    transition: all .3s ease;
    border: 2px solid #F7F7F7;
    color: var(--primary-color);

    &:hover {
      background: #F7F7F7;
    }

    &:active {
      background: #D6D6D6;
      border: 2px solid #D6D6D6;
    }

    &:before {
      display: none;
    }

    span {
      user-select: none;
    }
  }
}