@import '../../styles/_vars.scss';

.root {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background: #FCFCFC;
  z-index: map-get($z-index, header);

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0 16px 126px;
    justify-content: space-between;

    .left-side {
      display: flex;
      align-items: center;
      transition: transform .3s ease-in-out;

      .burger {
        display: none;
        cursor: pointer;
      }

      .menu {
        &__item {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;

          &:not(:last-child) {
            margin-right: 56px;
          }
        }
      }
    }

    .right-side {
      gap: 64px;
      display: flex;
      align-items: center;
      transform: translateX(172px);
      transition: transform .3s cubic-bezier(0.54, 0.79, 1, 1);

      .balance-view {
        display: flex;
        align-items: center;

        span {
          font-size: 12px;
          font-weight: 700;
          margin-left: 4px;
          line-height: 12px;
        }
      }

      .personal {
        display: flex;
        align-items: center;

        .avatar {
          cursor: pointer;
          margin-left: 20px;
        }

        .name {
          opacity: 0;
          width: 170px;
          font-size: 18px;
          font-weight: 700;
          overflow: hidden;
          user-select: none;
          margin-left: 12px;
          line-height: 18px;
          visibility: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: visibility 0.3s linear, opacity .3s linear;
        }

        .logout {
          opacity: 0;
          cursor: pointer;
          visibility: hidden;
          margin: 0 24px 0 4px;
          transition: visibility 0.3s linear, opacity .3s linear;
        }
      }

      &.user-menu {
        transform: translateX(0);

        .personal {
          .name {
            opacity: 1;
            visibility: visible;
          }

          .logout {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .user-menu-wrap {
    right: 0;
    top: 80px;
    width: 300px;
    height: 860px;
    display: flex;
    position: fixed;
    overflow-y: scroll;
    background: #FCFCFC;
    flex-direction: column;
    padding: 12px 24px 24px;
    transform: translateX(100%);
    max-height: calc(100vh - 80px);
    justify-content: space-between;
    transition: transform .3s linear;
    z-index: map-get($z-index, header);

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }

    .top {
      .create-links {
        &__link {
          padding: 12px;
          display: flex;
          background: #FFFFFF;
          align-items: center;
          border: 2px solid #F7F7F7;
          justify-content: space-between;
          transition: background .3s ease-in-out;

          &:hover {
            background: #F7F7F7;
          }

          &:active {
            background: #D6D5D8;
          }

          &:not(:first-child) {
            margin-top: 12px;
          }

          .left-side {
            display: flex;
            align-items: center;

            .text {
              color: var(--black-color);
              font-size: 12px;
              font-weight: 700;
              line-height: 12px;
              margin-left: 12px;
            }
          }
        }
      }

      .menu {
        margin-top: 58px;

        &__item {
          height: 40px;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: space-between;

          &:hover {
            .text {
              color: var(--primary-color);
            }
          }

          .text {
            font-size: 18px;
            font-weight: 700;
            user-select: none;
            line-height: 18px;
            color: var(--black-color);
            transition: color .3s ease-in-out;
          }

          .activity {
            width: 8px;
            height: 8px;
            position: relative;
            border-radius: 50%;
            background: var(--primary-color);

            &:before {
              top: -2px;
              left: -2px;
              content: '';
              width: 12px;
              height: 12px;
              opacity: 0.3;
              position: absolute;
              border-radius: 50%;
              background: var(--primary-color);
            }

            &:after {
              top: -4px;
              left: -4px;
              content: '';
              width: 16px;
              height: 16px;
              opacity: 0.1;
              position: absolute;
              border-radius: 50%;
              background: var(--primary-color);
            }
          }
        }
      }
    }

    .bottom {
      margin-top: 32px;

      .wallet-wrap {
        padding: 12px;
        background: #FFFFFF;
        margin-bottom: 12px;
        border: 2px solid #F7F7F7;

        .header {
          display: flex;
          justify-content: space-between;

          .left-side {
            display: flex;

            .text {
              display: flex;
              margin-left: 12px;
              flex-direction: column;

              .name {
                opacity: 0.2;
                font-size: 9px;
                line-height: 9px;
                font-weight: 500;
              }

              .number {
                margin-top: 1px;
                font-size: 10px;
                font-weight: 600;
                line-height: 10px;
              }
            }
          }

          .right-side {
            .button {
              width: 48px;
              height: 24px;
              display: flex;
              cursor: pointer;
              font-size: 10px;
              font-weight: 700;
              line-height: 10px;
              user-select: none;
              align-items: center;
              justify-content: center;
              border: 1px solid #F7F7F7;
              color: var(--primary-color);
              transition: background .3s ease-in-out;

              &:hover {
                background: #F7F7F7;
              }

              &:active {
                background: #D6D5D8;
              }
            }
          }
        }

        .body {
          margin-top: 12px;

          .name {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
          }

          .wallet {
            margin-top: 8px;

            &__item {
              padding: 6px;
              display: flex;
              background: #FFFFFF;
              align-items: center;
              border: 1px solid #F7F7F7;
              justify-content: space-between;

              &:not(:first-child) {
                margin-top: 8px;
              }

              .balance {
                display: flex;
                align-items: center;

                .icon {
                  margin-right: 6px;
                }

                span {
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 12px;
                }
              }
            }
          }

          .button {
            height: 32px;
            display: flex;
            cursor: pointer;
            font-size: 12px;
            margin-top: 12px;
            font-weight: 700;
            line-height: 16px;
            user-select: none;
            background: #FFFFFF;
            align-items: center;
            justify-content: center;
            border: 2px solid #F7F7F7;
            transition: background .3s ease-in-out;

            &:hover {
              background: #F7F7F7;
            }

            &:active {
              background: #D6D5D8;
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        &__item {
          height: 26px;
          display: flex;
          cursor: pointer;
          background: #FFFFFF;
          align-items: center;
          justify-content: center;
          border: 1px solid #F7F7F7;
          transition: background .3s ease-in-out;

          &:hover {
            background: #F7F7F7;
          }

          &:active {
            background: #D6D5D8;
          }

          &:nth-child(1) {
            width: 117px;
          }

          &:nth-child(2) {
            width: 87px;
          }

          &:nth-child(3) {
            width: 26px;
          }

          .text {
            font-size: 10px;
            font-weight: 700;
            line-height: 10px;
            user-select: none;
            margin-right: 8px;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, xl)) {
  .root {
    .wrapper {
      .right-side {
        transform: translateX(210px);

        .personal {

        }

        &.user-menu {

        }
      }
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {
    height: 60px;

    .wrapper {
      padding: 6px 0 6px 84px;

      .right-side {
        transform: translateX(216px);
        gap: 24px;
      }
    }

    .user-menu-wrap {
      top: 60px;
      max-height: calc(100vh - 60px);
    }
  }
}

@media (max-width: map-get($media, md)) {
  .root {
    .wrapper {
      padding-left: 12px;

      .left-side {
        .menu {
          display: none;
        }

        .burger {
          display: block;
        }
      }
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    .wrapper {
      .right-side {
        .balance-view,
        .language-selector {
          display: none;
        }
      }
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .wrapper {
      .left-side.user-menu {
        transform: translateX(-216px);
      }

      .right-side {
        width: 178px;
        transform: translateX(-6px);

        &.user-menu {
          transform: translateX(-226px);
        }
      }
    }
  }
}