@import '../../styles/_vars.scss';

.root {
  padding: 2px;
  border: 1px solid #F7F7F7;

  .item {
    border: none;
    height: 24px;
    color: #1F1F1F;
    font-size: 12px;
    font-weight: 700;
    border-radius: 0;
    line-height: 24px;
    padding-inline: 6px;
    font-family: 'Inter', sans-serif;

    &:before {
      display: none;
    }

    &:not(:first-child) {
      margin-left: 4px;
    }

    span {
      user-select: none;
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {

    .item {
      height: 28px;
      line-height: 28px;
      padding-inline: 12px;
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    width: 100%;
    display: flex;
    padding: 4px 4px 6px;

    .item {
      width: 100%;
      height: 32px;
      line-height: 32px;
      text-align: center;

      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    padding: 4px;
    flex-direction: column;

    .item {
      height: 40px;
      line-height: 40px;

      &:not(:first-child) {
        margin-top: 4px;
      }

    }
  }
}