@import '../../styles/_vars.scss';

.main {
  position: relative;

  .background {
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    z-index: -1;
    height: 1080px;
    position: absolute;
    background-size: cover;
    background-position: top center;
    background-image: url("../../../public/bg-main.jpg");

    &:after {
      left: 0;
      bottom: 0;
      width: 100%;
      content: '';
      height: 504px;
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
  }

  .content {
    z-index: 1;
    display: flex;
    position: relative;
    text-align: center;
    padding-top: 230px;
    align-items: center;
    flex-direction: column;

    &:after {
      top: 113px;
      z-index: -1;
      content: '';
      width: 1030px;
      height: 508px;
      position: absolute;
      border-radius: 50%;
      background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    .title {
      font-size: 64px;
      font-weight: 900;
      line-height: 64px;
    }

    .text {
      margin: 24px 0;
      font-size: 24px;
      max-width: 851px;
      font-weight: 300;
      line-height: 36px;
    }
  }

  .nft-items {
    display: flex;
    margin-top: 200px;
    align-items: center;
    flex-direction: column;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 42px;
}

.section {
  margin-top: 100px;

  &:last-child {
    margin-bottom: 100px;
  }

  .subtitle {
    margin-bottom: 18px;
  }

  .flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.nft-items-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  margin-bottom: 36px;
  grid-template-columns: repeat(5, 1fr);
}

.nft-collections-wrapper {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  margin-bottom: 36px;
  grid-template-columns: repeat(3, 1fr);
}

.top-users-wrap {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subtitle {
      margin-bottom: 0;
    }

    .buttons {
      .label {
        color: #D6D5D8;
        font-size: 12px;
        margin-left: 8px;
        font-weight: 700;
        line-height: 12px;
        user-select: none;
      }
    }
  }

  .top-users {
    &__item {
      display: flex;

      &:first-child {
        margin-top: 42px;

        .users .user {
          &:before {
            top: -11px;
            left: -6px;
            z-index: 1;
            content: '';
            width: 28px;
            height: 28px;
            position: absolute;
            transform: rotate(-30deg);
            background-size: 100% 100%;
            background-image: url('../../../public/crown.png');
          }
        }
      }

      &:not(:first-child) {
        margin-top: 42px;
      }

      &:nth-child(2) {
        .content {
          .divider {
            margin-left: 8px;
            margin-right: 38px;
          }

          .profit {
            span.percent {
              justify-content: space-around;
            }
          }
        }
      }

      &:nth-child(3) {
        .content {
          .divider {
            margin-left: 0;
            margin-right: 33px;
          }

          .profit {
            span.percent {
              justify-content: space-between;
            }
          }
        }
      }

      .medal {
        width: 50px;
        height: 50px;
        display: flex;
        min-width: 50px;
        align-items: center;
        justify-content: center;
      }

      .content {
        width: 100%;
        display: flex;
        margin-left: 35px;
        align-items: center;

        .users {
          display: flex;
          position: relative;

          .user {
            min-width: 308px;
            margin-right: 38px;
          }
        }

        .divider {
          width: 100%;
          height: 2px;
          margin-left: 16px;
          margin-right: 47px;
          background: #F7F7F7;
        }

        .profit {
          display: flex;
          width: min-content;
          align-items: center;
          justify-content: center;

          span {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            white-space: nowrap;
          }

          span.percent {
            height: 24px;
            padding: 4px;
            display: flex;
            color: #FCFCFC;
            margin-left: 18px;
            justify-content: center;
            background: var(--green-color);
          }
        }
      }
    }
  }
}

.attention {
  margin-top: 60px;

  .head {
    display: flex;
    align-items: center;

    .title {
      font-size: 28px;
      font-weight: 700;
      line-height: 28px;
    }

    .buttons {
      margin-left: 18px;
    }
  }

  .users-wrapper {
    width: 100%;
    display: grid;
    margin: 20px 0;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: map-get($media, xl)) {
  .main {
    .background {
      height: 816px;

      &:after {
        height: 289px;
      }
    }

    .content {
      &:after {
        height: 481px;
      }
    }

    .nft-items {
      margin-top: 100px;
    }
  }

  .nft-items-wrapper {
    grid-template-columns: repeat(4, 1fr);

    & > div:nth-child(5) {
      display: none;
    }
  }

  .top-users-wrap {
    .top-users {
      &__item {
        .content {
          .users .user {
            min-width: 250px;
            margin-right: 12px;
          }

          .profit {
            flex-wrap: wrap;

            span {
              font-size: 12px;
              line-height: 12px;
            }

            span.percent {
              width: 100%;
              height: 20px;
              margin-left: 0;
              margin-top: 6px;
            }
          }

          .divider {
            margin-right: 24px;
            margin-left: 12px;
          }

          &:nth-child(2) {
            .divider {
              margin-right: 24px;
              margin-left: 12px;
            }
          }

          &:nth-child(3) {
            .divider {
              margin-right: 24px;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }

  .attention {
    .users-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .main {
    .background {
      height: 580px;

      &:after {
        height: 239px;
      }
    }

    .content {
      padding-top: 160px;

      &:after {
        top: 81px;
        width: 642px;
        height: 345px;
      }

      .title {
        font-size: 42px;
        line-height: 42px;
      }

      .text {
        margin: 12px 0;
        font-size: 16px;
        max-width: 552px;
        line-height: 24px;
      }
    }
  }

  .section {
    margin-top: 80px;

    &:last-child {
      margin-bottom: 80px;
    }
  }

  .nft-items-wrapper {
    grid-template-columns: repeat(3, 1fr);

    & > div:nth-child(4) {
      display: none;
    }
  }

  .nft-collections-wrapper {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .top-users-wrap {
    .top-users {
      &__item {
        &:not(:first-child) {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid #F7F7F7;
        }

        .content {
          margin-left: 8px;
          align-items: flex-start;
          justify-content: space-between;

          .users {
            flex-direction: column;

            .user {
              margin-right: 0;

              &:not(:first-child) {
                margin-top: 20px;
              }
            }
          }

          .divider {
            display: none;
          }

          .profit {

            span.percent {
              width: 100%;
              margin-left: 0;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }

  .attention {
    .users-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: map-get($media, md)) {
  .main {
    .background {
      height: 537px;
    }

    .content {
      padding-top: 150px;

      &:after {
        top: 92px;
        width: 643px;
        height: 290px;
      }
    }
  }

  .nft-items-wrapper {
    grid-gap: 16px;
    margin-bottom: 24px;
  }

  .nft-collections-wrapper {
    grid-gap: 16px;
    margin-bottom: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .attention {
    .users-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .main {
    .content {
      &:after {
        top: 116px;
        width: 480px;
        height: 266px;
      }

      .text {
        max-width: 432px;
      }
    }
  }

  .section {
    margin-top: 60px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  .nft-items-wrapper {
    grid-template-columns: repeat(2, 1fr);

    & > div:nth-child(3) {
      display: none;
    }
  }

  .nft-collections-wrapper {
    grid-template-columns: 1fr;
  }

  .top-users-wrap {
    .header {
      flex-direction: column;
      align-items: flex-start;

      .buttons {
        width: 100%;
        margin-top: 18px;

        .label {
          display: none;
        }
      }
    }

    .top-users {
      &__item {
        &:first-child {
          margin-top: 32px;
        }

        .content {
          width: calc(100vw - 82px);
          align-items: flex-end;
          flex-direction: column;

          .users {
            width: 100%;

            .user {
              min-width: 100%;

              &:not(:first-child) {
                margin-top: 8px;
              }
            }
          }

          .profit {
            margin-top: 10px;
            flex-wrap: nowrap;
            justify-content: flex-end;

            span {
              font-size: 16px;
              line-height: 16px;
            }

            span.percent {
              height: 24px;
              margin-top: 0;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }

  .attention {
    .head {
      .buttons {
        display: none;
      }
    }

    .users-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .main {
    .content {
      &:after {
        top: 60px;
        width: 320px;
        height: 365px;
      }

      .text {
        padding: 0 12px;
        max-width: 100%;
      }
    }

    .nft-items {
      margin-top: 80px;
    }
  }

  .nft-items-wrapper {
    grid-template-columns: 1fr;

    & > div:nth-child(2) {
      display: none;
    }
  }

  .subtitle {
    font-size: 32px;
    line-height: 32px;
  }

  .top-users-wrap {
    .top-users {
      &__item {
        .medal {
          display: none;
        }

        &:first-child .users .user:after{
          background-image: url('../../../public/golden-medal.png');
        }

        &:nth-child(2) .users .user:after {
          background-image: url('../../../public/silver-medal.png');
        }

        &:nth-child(3) .users .user:after {
          background-image: url('../../../public/bronze-medal.png');
        }

        .content {
          width: 100%;
          margin-left: 0;

          .users .user {
            &:not(:first-child) {
              margin-top: 32px;
            }

            &:after {
              left: 6px;
              z-index: 1;
              content: '';
              width: 36px;
              height: 36px;
              bottom: -32px;
              position: absolute;
              background-size: 100% 100%;
            }
          }

          .profit {
            flex-wrap: wrap;

            span {
              font-size: 12px;
              line-height: 12px;
            }

            span.percent {
              height: 20px;
              margin-left: 0;
              margin-top: 6px;
              width: min-content;
            }
          }
        }
      }
    }
  }
}