@import '../../../styles/utils/vars';

.root {
  position: relative;

  .wrapper {
    display: flex;
    text-align: center;
    padding: 56px 36px;
    align-items: center;
    flex-direction: column;

    .icon {
      margin-bottom: 36px;
    }

    .subtitle {
      margin-top: 6px;
    }

    .text {
      margin-top: 24px;

      a {
        text-decoration: underline;
        color: var(--primary-color);

        &:hover {
          text-decoration: none;
        }
      }
    }

    .button-wrap {
      margin-top: 36px;
    }
  }

  .icon-back {
    top: 10px;
    left: 10px;
    position: absolute;
    transform: rotate(180deg);
  }
}

@media (max-width: map-get($media, xl)) {

}

@media (max-width: map-get($media, lg)) {

}

@media (max-width: map-get($media, md)) {

}

@media (max-width: map-get($media, sm)) {
  .root {
    .wrapper {
      padding: 56px 10px;
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .wrapper {
      padding-bottom: 36px;

      .icon {
        margin-bottom: 24px;
        margin-top: -32px;
      }

      .subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
      }

      .button-wrap {
        margin-top: 24px;
      }
    }
  }
}