@import '../../styles/utils/vars';

.root {
  .wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 550px;

    .left-side {
      .header {
        &__info {
          .title {
            font-size: 42px;
            font-weight: 900;
            line-height: 42px;
          }

          .collection-wrap {
            display: flex;
            margin-top: 10px;
            justify-content: space-between;

            & > div {
              display: flex;
              align-items: center;
            }

            .collection {
              display: flex;
              align-items: center;

              &:hover span {
                color: var(--primary-color);
              }

              span {
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                margin-left: 10px;
                transition: color .3s ease;
                color: rgba(38, 35, 63, 0.25);
              }
            }

            .icon:not(:last-child) {
              margin-right: 6px;
            }
          }

          .user-wrap {
            display: flex;
            margin-top: 36px;
            align-items: center;

            &__user {
              display: flex;

              .text {
                margin-left: 12px;

                span {
                  opacity: 0.25;
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 12px;
                }

                p {
                  cursor: pointer;
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 14px;
                  transition: color .3s ease;

                  &:hover {
                    color: var(--primary-color);
                  }
                }
              }
            }

            .divider {
              width: 60px;
              height: 2px;
              background: var(--light-gray-color);
              margin: 0 24px 0 13px;
            }
          }

          .price-wrap {
            display: flex;
            margin-top: 36px;
            width: fit-content;
            border: 2px solid var(--light-gray-color);

            &.price-wrap_sale {
              .item {
                padding: 16px 24px;

                .btn {
                  display: block;
                }
              }
            }

            .item {
              padding: 24px;

              &:not(:last-child) {
                border-right: 2px solid var(--light-gray-color);
              }

              .label {
                display: block;
                font-size: 12px;
                font-weight: 700;
                line-height: 12px;
                text-transform: uppercase;
                color: rgba(38, 35, 63, 0.2);

                .black {
                  color: var(--black-color);
                }
              }

              p {
                margin: 8px 0;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                white-space: nowrap;
                color: var(--primary-color);
              }

              p + span {
                display: block;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
              }

              .btn {
                display: none;
                margin-top: 8px;
              }
            }
          }

          .buttons-price-wrap {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 12px;
          }

          .buttons-active-wrap {
            row-gap: 10px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 36px;
            column-gap: 12px;

            &__item {
              display: flex;
              align-items: center;
              justify-content: center;

              i {
                margin-left: 6px;
              }

              &.blue {
                transition: all .3s ease;
                background: var(--blue-color);

                &:hover {
                  opacity: .7;
                }

                &:active {
                  opacity: 1;
                  filter: brightness(90%);
                }
              }
            }
          }
        }

        &__image {
          display: none;
        }
      }

      .content-wrap {
        margin-top: 60px;

        .tabs {
          width: fit-content;
        }

        .content {
          .block {
            margin-top: 24px;
            padding: 24px 24px 16px;
            border: 2px solid var(--light-gray-color);

            .title {
              font-size: 18px;
              font-weight: 700;
              line-height: 18px;
            }

            .text {
              font-size: 16px;
              line-height: 24px;
              margin: 12px 0 16px;
            }
          }

          .bids-wrap {
            margin: 12px 0 16px;

            &__item {
              gap: 12px;
              display: flex;
              padding: 12px 0;
              position: relative;
              align-items: center;
              justify-content: space-between;

              &.bids-wrap__item_sale {
                &:hover {
                  .btn {
                    display: block;
                  }
                }
              }

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                padding-bottom: 0;
              }

              &:not(:last-child) {
                border-bottom: 1px solid var(--light-gray-color);
              }

              .user {
                display: flex;

                .avatar {
                  border-radius: 50%;
                }

                .info {
                  gap: 2px;
                  display: flex;
                  margin-left: 12px;
                  flex-direction: column;
                  justify-content: center;

                  .for {
                    white-space: nowrap;
                    color: rgba(38, 35, 63, .4);
                  }

                  span, p {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 12px;
                  }

                  span {
                    color: var(--grey-color);
                  }
                }
              }

              .date {
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                text-align: center;
                color: var(--grey-color);
              }

              .price {
                gap: 2px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                span, p {
                  font-size: 12px;
                  text-align: right;
                  line-height: 12px;
                  white-space: nowrap;
                }

                span {
                  font-weight: 700;
                }

                p {
                  font-weight: 500;
                  color: var(--grey-color);
                }
              }

              .btn {
                right: 0;
                display: none;
                position: absolute;
              }
            }
          }

          .properties {
            padding: 12px;
            margin-top: 24px;
            border: 2px solid var(--light-gray-color);

            &__item {
              height: 60px;
              display: flex;
              padding: 16px;
              align-items: center;
              border: 2px solid var(--light-gray-color);
              justify-content: space-between;

              &:not(:last-child) {
                margin-bottom: 12px;
              }

              .left-side {
                display: flex;

                .info {
                  display: flex;
                  margin-left: 16px;
                  flex-direction: column;

                  span, p {
                    font-size: 12px;
                    line-height: 12px;
                  }

                  span {
                    font-weight: 600;
                    color: var(--grey-color);
                  }

                  p {
                    margin-top: 4px;
                    font-weight: 700;
                  }
                }
              }

              .value {
                font-size: 24px;
                font-weight: 700;
                text-align: right;
                line-height: 24px;
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}

.nft-form {
  display: grid;
  grid-gap: 12px;
  max-width: 360px;
  margin-top: 36px;

  &__label {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 6px;
  }

  .input {
    width: 100%;
    font-size: 18px;

    &.input-prefix {
      & > div {
        gap: 16px;
        display: flex;
        flex-direction: row-reverse;

        & > span {
          margin-left: 0;
        }
      }
    }

    input {
      font-size: 18px;
    }

    &__after-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 12px;
      color: var(--primary-color);
    }
  }

  .checkbox {
    margin-bottom: 24px;
  }

  a {
    text-decoration: underline;
    color: var(--primary-color);

    &:hover {
      text-decoration: none;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  &__tabs {
    & > label {
      width: 100%;
    }
  }

  .submit {
    margin: 0 auto;
    width: fit-content;
  }

  .wrap-field-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      text-align: left;
    }

    &__sub-label {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      color: var(--grey-color);
    }
  }
}

.nft-trade-modal {
  padding-top: 20px;

  &__title {
    font-size: 18px;
    line-height: 18px;
  }

  &__wrap {
    display: grid;
    margin: 36px 0;
    grid-gap: 24px;
    grid-template-columns: 604px 604px;

    .left-side {
      &__header {
        padding: 16px 0 12px;
        border: 2px solid var(--light-gray-color);
        border-bottom: none;

        p {
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
        }
      }

      &__body {
        height: 516px;
        display: flex;
        overflow: hidden;

        img {
          top: 50%;
          width: 100%;
          height: auto;
          position: absolute;
          transform: translateY(-50%);
        }
      }
    }

    .right-side {
      border: 2px solid var(--light-gray-color);

      &__header {
        padding: 16px 0 12px;

        p {
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
        }
      }

      .nested-wrap {
        display: grid;
        grid-gap: 16px;
        padding: 0 14px 14px 34px;
        grid-template-columns: repeat(3, minmax(174px, 1fr));

        &__item {
          height: 130px;
          display: flex;
          overflow: hidden;
          text-align: center;
          flex-direction: column;
          justify-content: space-between;

          &_image {
            position: relative;
            justify-content: flex-end;

            &:before {
              z-index: 1;
              width: 100%;
              content: '';
              height: 100%;
              position: absolute;
              background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #282828 100%);
            }

            .image {
              top: 50%;
              left: 50%;
              width: 172px;
              height: auto;
              position: absolute;
              transform: translate(-50%, -50%);
            }

            .subtitle, .title {
              z-index: 1;
              color: #FFFFFF;
            }

            .subtitle {
              margin-bottom: 6px;
            }
          }

          .title {
            margin: 0 auto;
            display: block;
            font-size: 16px;
            font-weight: 700;
            overflow: hidden;
            line-height: 16px;
            margin-bottom: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100% - 26px);
          }

          .subtitle {
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            margin-bottom: 6px;
            white-space: nowrap;
          }

          .icon {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.wrap-button {
  gap: 24px;
  display: flex;
}

.modal-wrap {
  margin-top: 36px;
}

.primary-text {
  font-weight: 700;
  color: var(--primary-color);
}

@media (max-width: map-get($media, xl)) {
  .root {
    .wrapper {
      .left-side {
        .header {
          &__info {
            .collection-wrap {
              margin-top: 6px;
            }

            .user-wrap,
            .price-wrap,
            .buttons-active-wrap {
              margin-top: 24px;
            }
          }
        }

        .content-wrap {
          margin-top: 36px;

          .content {
            .block {
              padding: 16px 16px 12px;

              .text {
                margin: 8px 0 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($media, lg)) {
  .root {
    .wrapper {
      grid-gap: 36px;
      grid-template-columns: 1fr 460px;

      .left-side {
        .content-wrap {
          .content {
            .block {
              padding: 12px;
              margin-top: 16px;
            }

            .properties {
              margin-top: 16px;
            }

            .bids-wrap {
              &__item {
                padding: 12px 0 48px;

                &:last-child {
                  padding-bottom: 36px;

                  .btn {
                    bottom: 0;
                  }
                }

                .btn {
                  bottom: 12px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  .nft-trade-modal {
    &__wrap {
      grid-template-columns: 452px 452px;

      .left-side {
        &__body {
          height: 452px;
        }
      }

      .right-side {
        .nested-wrap {
          grid-gap: 20px;
          padding: 0 40px 24px 40px;
          grid-template-columns: minmax(174px, 1fr) minmax(174px, 1fr);
        }
      }
    }
  }
}

@media (max-width: map-get($media, md)) {
  .root {
    .wrapper {
      grid-gap: 0;
      grid-template-columns: 1fr;

      .left-side {
        .header {
          display: grid;
          grid-gap: 24px;
          grid-template-columns: 348px 372px;

          &__info {
            .title {
              font-size: 32px;
              line-height: 32px;
            }

            .user-wrap {
              margin-top: 36px;

              .divider {
                margin: 0 11px 0 7px;
                min-width: 26px;
              }
            }

            .price-wrap {
              width: 100%;
              margin-top: 36px;

              .item {
                &:first-child {
                  padding-right: 28px;
                }

                &:last-child {
                  width: 100%;
                  padding-left: 28px;
                }
              }
            }

            .buttons-price-wrap {
              & > button:nth-child(1) {
                width: 100%;
              }

              div + button {
                width: calc(100% - 52px);
              }

              & > div {
                order: 1;
              }
            }

            .buttons-active-wrap {
              margin-top: 36px;

              &__item {
                width: calc(50% - 6px);
              }
            }
          }

          &__image {
            display: block;
          }
        }

        .content-wrap {
          margin-top: 56px;

          .tabs {
            width: 100%;
            display: flex;
            justify-content: center;
          }

          .content {
            .bids-wrap {
              margin: 8px 0 12px
            }
          }
        }
      }

      .right-side {
        display: none;
      }
    }
  }

  .nft-trade-modal {
    &__wrap {
      grid-template-columns: 360px 360px;

      .left-side {
        &__body {
          height: 324px;
        }
      }

      .right-side {
        .nested-wrap {
          grid-gap: 8px;
          padding: 0 10px 10px 10px;
          grid-template-columns: minmax(164px, 1fr) minmax(164px, 1fr);;
        }
      }
    }
  }
}

@media (max-width: map-get($media, sm)) {
  .root {
    .wrapper {
      .left-side {
        .header {
          grid-gap: 36px;
          grid-template-columns: 1fr;

          &__info {
            .collection-wrap {
              margin-top: 6px;
            }

            .user-wrap,
            .price-wrap,
            .buttons-active-wrap {
              margin-top: 24px;
            }

            .user-wrap {
              justify-content: space-between;

              .divider {
                width: 100%;
                margin: 0 10px;
              }
            }

            .price-wrap {
              .item {
                width: 100%;

                &:first-child {
                  padding-right: 0;
                }

                &:last-child {
                  display: flex;
                  padding-left: 0;
                  justify-content: flex-end;
                }
              }
            }

            .buttons-price-wrap {
              button {
                font-size: 18px;
                height: 56px;
              }

              div + button {
                width: calc(100% - 68px);
              }

              & > div {
                width: 56px !important;
                height: 56px !important;

                i {
                  font-size: 24px !important;
                }
              }
            }
          }

          &__image {
            order: -1;
          }
        }

        .content-wrap {
          margin-top: 36px;
        }
      }
    }
  }

  .nft-trade-modal {
    &__wrap {
      grid-gap: 16px;
      grid-template-columns: 432px;

      .left-side {
        &__body {
          height: 261px;
        }
      }

      .right-side {
        .nested-wrap {
          grid-template-columns: repeat(3, minmax(130px, 1fr));
        }
      }
    }
  }
}

@media (max-width: map-get($media, xs)) {
  .root {
    .wrapper {
      .left-side {
        .header {
          &__info {
            .title {
              font-size: 28px;
              line-height: 28px;
            }

            .user-wrap {
              &__user {
                .text {
                  p {
                    width: 68px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }

              .divider {
                width: 45px;
                min-width: 45px;
              }
            }

            .price-wrap {
              .item {
                width: fit-content;

                &:first-child {
                  padding-left: 12px;
                  padding-right: 14px;
                }

                &:last-child {
                  padding-left: 14px;
                  padding-right: 12px;
                  justify-content: center;
                }
              }
            }
          }
        }

        .content-wrap {
          .content {
            .bids-wrap {
              &__item {
                .user {
                  .info {
                    p {
                      width: 68px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }

                    .for {
                      display: block;
                    }
                  }
                }

                .date {
                  max-width: 62px;
                }
              }
            }

            .properties {
              &__item {
                height: 52px;
                padding: 12px;
              }
            }
          }
        }
      }
    }
  }

  .nft-form {
    margin-top: 24px;

    .checkbox {
      margin-bottom: 12px;
    }
  }

  .nft-trade-modal {
    &__wrap {
      grid-template-columns: 272px;

      .left-side {
        &__body {
          height: 200px;
        }
      }

      .right-side {
        .nested-wrap {
          grid-template-columns: repeat(2, minmax(120px, 1fr));

          &__item {
            .title {
              width: calc(100% - 18px);
            }
          }
        }
      }
    }
  }

  .wrap-button {
    gap: 8px;
    flex-direction: column;

    &__button {
      width: 180px;
    }
  }

  .modal-wrap {
    margin-top: 24px;
  }
}